body {
  background: white !important;
}
.sessions {
  font-family: 'Roboto';
}

.sessions > thead > tr > th {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 0;
}

.sessions .block30 {
  height: calc(30px * 2);
}

.sessions .block45 {
  height: calc(45px * 2);
}

.sessions .block60 {
  height: calc(60px * 2);
}

/* Colors */

.sessions .keynote > td:first-child {
  background: #00796B;
}

.sessions .keynote > td {
  background: #009688;
}

.sessions .fika > td:first-child {
  background: #0288D1;
}

.sessions .fika > td {
  background: #2196F3;
}

.sessions .talks > td:first-child {
  background: #512DA8;
}

.sessions .talks > td.lecture {
  background: #673AB7;
}

.sessions .talks > td.workshop {
  background: #607D8B;
}

.sessions .open-space > td:first-child {
  background: #E64A19;
}

.sessions .open-space > td {
  background: #FF5722;
}
