<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <!-- https://social.msdn.microsoft.com/Forums/sqlserver/en-US/907bd983-47ec-4f9e-a985-8925a0a29e26/webconfig-help-needed-redirect-to-if-not-a-file?forum=windowsazurewebsitespreview -->
    <modules runAllManagedModulesForAllRequests="true" />
    <rewrite>
      <rules>
        <rule name="HTML5 Mode" stopProcessing="true">
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
			      <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/assets/json/*.json" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
