<div class="container">
  <div *ngIf="!loading && hasSpeaker" class="speaker-detail-wrapper">
    <div class="col-xs-12 col-sm-12 col-md-5 avatar-wrapper">
      <img class="avatar" src="{{ speaker.image }}" alt="">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7">
      <h1 class="speaker-name">{{ speaker.name }}</h1>
      <a class="company-name" href="{{ speaker.companyUrl }}">{{ speaker.company }}</a>
      <p style="white-space: pre-line" [innerHtml]="speaker.bio | linkify"></p>
      <div class="col-xs-12 no-padding social-logos" *ngIf="speaker.social">
        <a href="{{ social.url }}" *ngFor="#social of speaker.social">
          <img src="/assets/icon/social/{{ social.type }}.png" class="social-logo" alt="{{ social.type }}">
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && !hasSpeaker">Tyvärr kunde vi inte hitta talaren med nyckeln "<strong>{{ query.slug }}</strong>".</div>
  <vba-loading *ngIf="loading"></vba-loading>
</div>
