<div class="container">
  <div class="general-info">
    <h1>Talare</h1>
    <p>Vi har en riktigt intressant uppsättning talare till årets konferens, och ett större fokus har även lagts på att få till en mix av föreläsningar såväl som workshops.</p>
  </div>
  <div *ngIf="speakers.length > 0">
    <div class="col-xs-12 speaker-wrapper">
      <a *ngFor="#speaker of speakers" [routerLink]="['SpeakerDetail', { slug: speaker.slug }]" class="col-xs-12 col-sm-6 col-lg-4">
        <article class="avatar-wrapper">
          <img class="avatar" src="{{ speaker.image }}" alt="{{ speaker.name }}">
          <div>{{ speaker.name }}</div>
        </article>
      </a>
    </div>
  </div>
  <div class="general-info" *ngIf="speakers.length === 0">Listan på talare kunde inte hittas.</div>
</div>
