<div class="container sessions">
  <div class="general-info">
    <h1>Schema</h1>
    <p>Här nedan ser ni schemat för årets upplaga av AgileExchange. Värt att nämna är att schemat trots allt fortfarande kan komma att ändras, och sessioner flyttas runt.</p>
  </div>
  <template *ngIf="schedule">
    <div class="col-xs-12 col-md-12 header">
      <div class="col-xs-12 col-md-2"></div>
      <div class="col-xs-12 col-md-10">
        <div class="col-xs-12 col-sm-4 col-md-4" *ngFor="#key of schedule.availableTracks">
          {{ schedule.tracks[key].title }}<br>
          <span class="room-name">{{ schedule.tracks[key].location }}</span><br>
          <i class="material-icons hidden-md hidden-lg" style="opacity: 0.35">{{ schedule.tracks[key].icon }}</i>
        </div>
        <div class="col-xs-12 col-md-4"></div>
        <div class="col-xs-12 col-md-4"></div>
      </div>
    </div>
    <div class="schedule-content">
      <div *ngFor="#block of schedule.blocks" class="col-xs-12 col-md-12 {{ block.type + ' ' + 'block' + block.duration }}">
        <div class="col-xs-12 col-md-2"><time>{{ block.startTime + ' - ' + block.endTime }}</time></div>
        <div class="col-xs-12 col-md-10 session-container">
          <article *ngFor="#session of block.sessions" (click)="onSessionClick(session.slug)" class="session {{ session.category }} {{ block.onlyOneSession ? 'col-md-12 single' : 'col-md-4' }}">
            <div class="session-content">
              <span>{{ session.title}}</span><br>
              <em *ngIf="session.speaker">{{ session.speaker }}</em>
            </div>
            <i class="material-icons hidden-md hidden-lg" style="color: white; opacity: 0.9; position: absolute; right: 8px; top: 50%; transform: translateY(-50%);" *ngIf="session.track">{{ schedule.tracks[session.track].icon }}</i>
          </article>
        </div>
      </div>
    </div>
  </template>
  <div class="general-info" *ngIf="!schedule">Schemat kunde dessvärre inte hittas.</div>
</div>
