<div class="container">
  <div *ngIf="!loading && hasSession" class="session-detail-wrapper">
    <div *ngIf="session.speaker" class="col-xs-12 col-sm-5 avatar-wrapper">
      <a [routerLink]="['/Speakers/SpeakerDetail', {slug: session.speaker.slug}]" style="display: inline-block">
        <img class="avatar" src="{{ session.speaker.image }}" alt="">
        <span class="speaker-name">{{ session.speaker.name }}</span>
      </a>
    </div>
    <div class="col-xs-12 col-sm-7">
      <h1>{{ session.title }}</h1>
      <p>{{ session.description }}</p>
    </div>
  </div>
  <div *ngIf="!loading && !hasSession">Unable to find a session called <strong>{{ query.slug }}</strong>.</div>
  <div *ngIf="loading"><img src="/assets/img/md-preloader.gif" alt=""></div>
</div>
