.student-sponsorship-buttons > a {
  clear: both;
  float: left;
  margin-top: 8px;
  display: inline-block;
}

.general-info {
  text-align: left;
}

@media (min-width: 768px) {
  .student-sponsorship-buttons > :not(:first-child) {
    margin-left: 8px;
  }

  .student-sponsorship-buttons > a {
    display: block;
    margin-top: 0;
    clear: none;
  }
  .container {
    width: 750px;
  }
}

@media(min-width: 992px) {
  .container {
    width: 960px;
  }
}
